<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <h:head>
        <title>jsf.js AJAX Example</title>
        <h:outputScript library="javax.faces" name="jsf.js"/>
        <h:outputStylesheet library="css" name="default.css"/>
        <script type="text/javascript">
            var statusUpdate = function statusUpdate(data) {
                var statusArea = document.getElementById("statusArea");
                var text = statusArea.value;
                text = text + "Name: " + data.source.id;
                if (data.type === "event") {
                    text = text + " Event: " + data.type + "\n";
                    text = text + " Status: " + data.status + "\n";
                    if (data.status !== 'begin') {
                        text = text + " Response Code: " + data.responseCode + "\n";
                    }
                } else {  // otherwise, it's an error
                    text = text + " Error: " + data.name + "\n";
                }
                statusArea.value = text;
            };

            function handleAjax(data) {
                var status = data.status;

                switch (status) {
                    case "begin":
                        // This is the start of the AJAX request.
                        document.getElementById("statusArea").value = '';
                        document.getElementsByTagName('body')[0].className = 'loading';
                        break;

                    case "complete":
                        // This is invoked right after ajax response is returned.
                        break;

                    case "success":
                        // This is invoked right after successful processing of ajax response and update of HTML DOM.
                        document.getElementsByTagName('body')[0].className = '';
                        break;
                }
            }

            // Setup the statusUpdate function to hear all events on the page
            jsf.ajax.addOnEvent(handleAjax);
            jsf.ajax.addOnEvent(statusUpdate);
            jsf.ajax.addOnError(statusUpdate);
        </script>
    </h:head>
    <h:body>
        <h1>jsf.js AJAX Example</h1>
        <p>
            This application demostrates jsf.js <code>addOnEvent()</code> and <code>addOnError()</code> methods along with a spinner implementation. 
        </p>
        <h2>Example</h2>
        <h:inputTextarea id="statusArea" cols="40" rows="10" readonly="true" disabled="true" style="resize: none;"/>
        <br/>
        <h:form id="form1">
            <h:panelGrid id="panelGrid1" columns="2">
                <h:outputText id="uuid" value="#{indexBean.uuid}" style="font-size: 18px; font-weight: bold; color: salmon;"/>
                <h:message for="uuid"/>
                <h:panelGroup id="panelGroup1">
                    <h:commandButton id="submitButton" value="Generate UUID" actionListener="#{indexBean.generateUUID()}">
                        <f:ajax execute="@form" render="panelGrid1"/>
                    </h:commandButton>
                </h:panelGroup>
            </h:panelGrid>
            <div class="modal"><!-- Place at bottom of page --></div>
        </h:form>
        <h2>References</h2>
        <p>
            This is based on the primarily on the work published by Jim Driscoll and Bauke Scholz. This is just a more complete example <br/>
            of what they mentioned in their articles.
        </p>
        <ul>
            <li><a href="http://jcp.org/aboutJava/communityprocess/mrel/jsr314/index2.html">JSR-314 JavaServer&trade; Faces Specification 2.1 - Chapter 14 - Javascript API</a></li>
            <li><a href="http://javaserverfaces.java.net/nonav/docs/2.0/jsdocs/symbols/jsf.ajax.html">jsf.js JSDoc</a></li>
            <li><a href="http://weblogs.java.net/blog/driscoll/archive/2009/05/jsf_2_ajax_even.html">JSF 2: Ajax Events and Errors</a></li>
            <li><a href="http://stackoverflow.com/a/13085569/160361">JSF handleAjax()</a></li>
            <li><a href="http://stackoverflow.com/a/1964871/160361">jQuery “Please Wait, Loading…” animation?</a></li>
            <li><a href="http://ajaxload.info/">AJAX Loaders (ajaxload.info)</a></li>
            <li><a href="http://jamesgdriscoll.wordpress.com/2010/02/09/jsf-2-ajax-events-and-errors/">JSF 2: Ajax Events and Errors</a></li>
        </ul>
    </h:body>
</html>

